
html {
  scroll-behavior: smooth;
}
*, :after, :before {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  width: 100%;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  margin-bottom: 0;
}
.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 23px;
  position: relative;
}
ol[class], ul[class] {
  list-style: none;
}
li {
  list-style: none;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  background: #fff url(/src/assets/img/icon_next.svg) no-repeat 50%;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  font-size: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-list, .slick-slider {
  position: relative;
  display: block;
}
.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-dots button {
  width: 24px;
  height: 24px;
  background: transparent;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots .slick-active button {
  background: blue;
  border: 1px solid blue;
  width: 36px;
  height: 36px;
  top: -10%;
}
.slick-dots button {
  width: 30px;
  height: 30px;
  padding: 0;
  background: hsla(204, 75%, 34%, 0.2);
  border-radius: 50%;
  font-size: 0;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
  transition: .25s;
}
.slick-dots li {
  margin: 0 6px;
}

.slick-slide img {
  display: block;
}
.fit {
  width: auto;
  height: 50vh;
  object-fit: cover;
  margin: 0 auto;
}
.mt-30px {
  margin-top: 30px;
  text-align: center;
}